@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Volkhov:wght@700&display=swap");
:root {
  --display-font-size: 5.25rem;
  --h2-font-size: 3.125rem;
  --h3-font-size: 2rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;
  --addition-small-font: 0.875rem;
  --title-font: "Volkhov", serif;
  --text-font: "Poppins", serif;
  --selected-font: "Open Sans", serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-1: #F1A501;
  --primary-1-hover: #d99603;
  --primary-2: #8A79DF;
  --button-gradient: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  --hover-socials-gradient: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60.00000178813934deg, #C68BF0 106.09081864356995deg, #D164DA 153.7500035762787deg, #C963E8 221.24999284744263deg, #BFC2E8 258.75deg, #FFC999 288.7499928474426deg, #D0D8C9 315deg, #BAD0F1 334.13365602493286deg, #CED8CB 358.9677572250366deg, rgba(255, 255, 255, 0.00) 360deg);
  --display-title-color: #181E4B;
  --title-color: #14183E;
  --text-color: #5E6282;
  --nav-color: #212832;
  --addition-color-1: #DF6951;
  --addition-color-2: #84829A;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5E6282;
  line-height: 1;
  font-family: "Poppins", serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins", serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Styles will be applied to
to all classes containing *__container
For example header__container, main__container etc.
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.block-heading__subtitle {
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
}

@supports (font-size: clamp(1rem, calc(0.956043956rem + 0.2197802198vw), 1.125rem)) {
  .block-heading__subtitle {
    font-size: clamp(1rem, calc(0.956043956rem + 0.2197802198vw), 1.125rem);
  }
}

@supports not (font-size: clamp(1rem, calc(0.956043956rem + 0.2197802198vw), 1.125rem)) {
  .block-heading__subtitle {
    font-size: calc(1rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.block-heading__subtitle_display {
  font-weight: 700;
  color: var(--addition-color-1);
}

@supports (font-size: clamp(1.125rem, calc(1.081043956rem + 0.2197802198vw), 1.25rem)) {
  .block-heading__subtitle_display {
    font-size: clamp(1.125rem, calc(1.081043956rem + 0.2197802198vw), 1.25rem);
  }
}

@supports not (font-size: clamp(1.125rem, calc(1.081043956rem + 0.2197802198vw), 1.25rem)) {
  .block-heading__subtitle_display {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 56.875);
  }
}

.block-heading__subtitle_center {
  text-align: center;
}

.block-heading__title {
  margin-top: 0.625rem;
  font-family: var(--title-font);
  font-weight: 700;
  text-transform: capitalize;
  color: var(--title-color);
}

@supports (font-size: clamp(2rem, calc(1.6043956044rem + 1.978021978vw), 3.125rem)) {
  .block-heading__title {
    font-size: clamp(2rem, calc(1.6043956044rem + 1.978021978vw), 3.125rem);
  }
}

@supports not (font-size: clamp(2rem, calc(1.6043956044rem + 1.978021978vw), 3.125rem)) {
  .block-heading__title {
    font-size: calc(2rem + 1.125 * (100vw - 20rem) / 56.875);
  }
}

.block-heading__title_display {
  margin-top: 1.5rem;
  line-height: 105%;
  letter-spacing: -3.36px;
  text-transform: initial;
  color: var(--display-title-color);
}

@supports (font-size: clamp(3.375rem, calc(2.7156593407rem + 3.2967032967vw), 5.25rem)) {
  .block-heading__title_display {
    font-size: clamp(3.375rem, calc(2.7156593407rem + 3.2967032967vw), 5.25rem);
  }
}

@supports not (font-size: clamp(3.375rem, calc(2.7156593407rem + 3.2967032967vw), 5.25rem)) {
  .block-heading__title_display {
    font-size: calc(3.375rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.block-heading__title_center {
  text-align: center;
}

.button {
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_primary-1 {
  border-radius: 10px;
  background: var(--primary-1);
}

.button a {
  display: inline-block;
  padding: 1.25rem 1.75rem;
  font-size: var(--h5-font-size);
  font-family: var(--selected-font);
  font-weight: 500;
  text-align: center;
  color: var(--white-color);
}

.card-category {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem;
  border: 3px solid var(--addition-color-1);
  border-radius: 36px;
}

.card-category__title {
  margin-bottom: 0.9375rem;
  font-size: var(--h4-font-size);
  font-family: var(--selected-font);
  font-weight: 600;
  color: var(--display-title-color);
}

.card-category__text {
  max-width: 11.25rem;
  text-align: center;
  font-weight: 500;
  line-height: 162.5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (padding-top: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem)) {
  .header {
    padding-top: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem);
  }
}

@supports not (padding-top: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem)) {
  .header {
    padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem)) {
  .header {
    padding-bottom: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem);
  }
}

@supports not (padding-bottom: clamp(1.25rem, calc(0.7005494505rem + 2.7472527473vw), 2.8125rem)) {
  .header {
    padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem) / 56.875);
  }
}

.header.header_fixed {
  background-color: var(--white-color);
  padding: 0.9375rem 0;
  -webkit-box-shadow: 0 0 10px var(--black-color);
          box-shadow: 0 0 10px var(--black-color);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo svg {
  width: 7.1875rem;
  height: 2.125rem;
}

.menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}

@supports ((-moz-column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem)) or (column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem))) {
  .menu__list {
    -webkit-column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem);
       -moz-column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem);
            column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem);
  }
}

@supports not ((-moz-column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem)) or (column-gap: clamp(1.5625rem, calc(-1.5543831169rem + 6.4935064935vw), 3.4375rem))) {
  .menu__list {
    -webkit-column-gap: calc(1.5625rem + 1.875 * (100vw - 48rem) / 28.875);
       -moz-column-gap: calc(1.5625rem + 1.875 * (100vw - 48rem) / 28.875);
            column-gap: calc(1.5625rem + 1.875 * (100vw - 48rem) / 28.875);
  }
}

.menu__list.menu-open {
  top: 0;
  left: 0;
  opacity: 1;
}

.menu__link {
  position: relative;
  font-family: var(--selected-font);
  font-weight: 700;
  color: var(--nav-color);
}

.menu__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--nav-color);
  border-radius: 3px;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__personalisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp(1.25rem, calc(0.5906593407rem + 3.2967032967vw), 3.125rem)) {
  .menu__personalisation {
    gap: clamp(1.25rem, calc(0.5906593407rem + 3.2967032967vw), 3.125rem);
  }
}

@supports not (gap: clamp(1.25rem, calc(0.5906593407rem + 3.2967032967vw), 3.125rem)) {
  .menu__personalisation {
    gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.menu__popup {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu__popup:nth-child(2) a {
  display: inline-block;
  padding: 0.5625rem 1.375rem;
  border: 1px solid var(--nav-color);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__popup-link {
  font-family: var(--selected-font);
  font-weight: 700;
  color: var(--nav-color);
}

.menu__spoiler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.menu__spoiler svg {
  width: 0.5625rem;
  height: 0.28125rem;
  stroke: var(--nav-color);
}

.icon-menu {
  display: none;
}

@supports (margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__hero-block {
    margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem);
  }
}

@supports not (margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__hero-block {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__category {
    margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem);
  }
}

@supports not (margin-top: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__category {
    margin-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__category {
    margin-bottom: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem);
  }
}

@supports not (margin-bottom: clamp(3.125rem, calc(2.0260989011rem + 5.4945054945vw), 6.25rem)) {
  .page__category {
    margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
  }
}

.hero-block__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-block__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.hero-block__block-heading {
  width: 100%;
  max-width: 34.0625rem;
}

.hero-block__text {
  max-width: 30rem;
  margin: 1.875rem 0 2.1875rem 0;
  line-height: 187.5%;
}

.hero-block__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.8125rem;
}

.hero-block__play {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.hero-block__play-button {
  position: relative;
  width: 3.25rem;
  height: 3.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: var(--addition-color-1);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.hero-block__play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent var(--white-color);
}

.hero-block__image {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-block__image img {
  width: 100%;
}

.category__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem)) {
  .category__content {
    gap: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem);
  }
}

@supports not (gap: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem)) {
  .category__content {
    gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-top: clamp(2.1875rem, calc(1.4182692308rem + 3.8461538462vw), 4.375rem)) {
  .category__content {
    margin-top: clamp(2.1875rem, calc(1.4182692308rem + 3.8461538462vw), 4.375rem);
  }
}

@supports not (margin-top: clamp(2.1875rem, calc(1.4182692308rem + 3.8461538462vw), 4.375rem)) {
  .category__content {
    margin-top: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 56.875);
  }
}

@media (max-width: 48em) {
  .menu__list {
    -webkit-column-gap: inherit;
       -moz-column-gap: inherit;
            column-gap: inherit;
  }
}

@media (max-width: 48.125rem) {
  .hero-block__image {
    top: 38%;
    -webkit-transform: initial;
        -ms-transform: initial;
            transform: initial;
  }
}

@media (max-width: 47.99875em) {
@supports (margin-right: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem)) {
    .menu__body {
      margin-right: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem);
    }
}

@supports not (margin-right: clamp(0.9375rem, calc(0.6078296703rem + 1.6483516484vw), 1.875rem)) {
    .menu__body {
      margin-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

  .menu__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .menu__list {
    position: absolute;
    top: -100%;
    left: 100%;
    z-index: 5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 2.1875rem;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    width: 100%;
    height: 100vh;
    padding: 2.5rem 0;
    background-color: var(--primary-2);
    overflow-x: auto;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__link {
    font-size: var(--h4-font-size);
    color: var(--white-color);
  }

  .icon-menu {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu.menu-open span {
    width: 0;
  }

  .icon-menu.menu-open span,
  .icon-menu.menu-open::before,
  .icon-menu.menu-open::after {
    background-color: var(--white-color);
  }

  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 43.75rem) {
  .hero-block__image {
    display: none;
  }
}

@media (max-width: 31.25rem) {
  .hero-block__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 26.5625rem) {
  .menu__personalisation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    row-gap: 2.1875rem;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
  }

  .menu-open .menu__popup-link {
    font-size: var(--h4-font-size);
    color: var(--white-color);
  }

  .menu-open .menu__spoiler svg {
    width: 1.125rem;
    height: 0.5625rem;
    stroke: var(--white-color);
  }

  .hero-block__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }

  .hero-block-button,
  .hero-block-button a {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: var(--primary-1-hover);
  }

  .menu__link:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }

  .menu__popup:nth-child(2) a:hover {
    background-color: var(--nav-color);
    color: var(--white-color);
  }

  .menu__spoiler:hover {
    cursor: pointer;
  }

  .hero-block__play-button:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}